grafana:
  enabled: true

  ingress:
    enabled: true
    ingressClassName: nginx  
    annotations:
      nginx.ingress.kubernetes.io/router.entrypoints: web
    hosts:
      - grafana.monitoring.example.com
    paths:
      - /

  adminPassword: admin
