loki:
  enabled: true
  isDefault: true

  persistence:
    enabled: true
    size: 5Gi

  securityContext:
    runAsUser: 10001
    runAsGroup: 10001

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi

  ingester:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi

  querier:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi

  config:
    table_manager:
      retention_deletes_enabled: true
      retention_period: 12h

promtail:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

grafana:
  enabled: true

  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password

  ingress:
    enabled: true
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/router.entrypoints: web
    hosts:
      - grafana.213.171.26.177.nip.io
    paths:
      - path: /
        pathType: Prefix

  persistence:
    enabled: true
    size: 5Gi
    accessModes:
      - ReadWriteOnce

  sidecar:
    datasources:
      enabled: true
    dashboards:
      enabled: true

  additionalDataSources:
    - name: Prometheus
      type: prometheus
      url: http://loki-stack-prometheus-server.monitoring.svc.cluster.local
      access: proxy
      isDefault: false
    - name: Loki
      type: loki
      url: http://loki-stack.monitoring.svc.cluster.local:3100
      access: proxy
      isDefault: true

  image:
    tag: "10.0.2"

  env:
    GF_INSTALL_PLUGINS: grafana-piechart-panel
    GF_SERVER_ROOT_URL: http://grafana.213.171.26.177.nip.io/
    GF_SERVER_SERVE_FROM_SUB_PATH: "true"

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

prometheus:
  enabled: true
  forceNamespace: monitoring

  prometheusSpec:
    additionalScrapeConfigs:
      - job_name: argocd
        metrics_path: /metrics
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: argocd
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: argocd-.*-metrics

    resources:
      requests:
        cpu: 300m
        memory: 512Mi
      limits:
        cpu: 600m
        memory: 768Mi

    configmapReload:
      prometheus:
        enabled: false
      alertmanager:
        enabled: false

  alertmanager:
    persistentVolume:
      enabled: true
      accessModes:
        - ReadWriteMany
      size: 5Gi

fluent-bit:
  enabled: false

logstash:
  enabled: false

filebeat:
  enabled: false
