loki:
  enabled: true
  isDefault: true

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  persistence:
    enabled: true
    size: 5Gi

  config:
    limits_config:
      max_cache_freshness_per_query: 10m
      split_queries_by_interval: 15m

    chunk_store_config:
      max_look_back_period: 12h

    table_manager:
      retention_deletes_enabled: true
      retention_period: 12h

    frontend:
      compress_responses: true

    query_range:
      cache_results: false

    chunk_store_config:
      chunk_cache_config:
        enable_fifocache: false
      write_dedupe_cache_config:
        enable_fifocache: false


promtail:
  enabled: true
  resources:
    requests:
      cpu: 20m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 64Mi

grafana:
  enabled: true

  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password

  ingress:
    enabled: true
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/router.entrypoints: web
    hosts:
      - grafana.213.171.26.177.nip.io
    paths:
      - path: /
        pathType: Prefix

  persistence:
    enabled: true
    size: 5Gi
    accessModes:
      - ReadWriteOnce

  sidecar:
    datasources:
      enabled: true
    dashboards:
      enabled: true

  additionalDataSources:
    - name: Prometheus
      type: prometheus
      url: http://loki-stack-prometheus-server.monitoring.svc.cluster.local
      access: proxy
      isDefault: false
    - name: Loki
      type: loki
      url: http://loki-stack.monitoring.svc.cluster.local:3100
      access: proxy
      isDefault: true

  image:
    tag: "10.0.2"

  env:
    GF_INSTALL_PLUGINS: grafana-piechart-panel
    GF_SERVER_ROOT_URL: http://grafana.213.171.26.177.nip.io/
    GF_SERVER_SERVE_FROM_SUB_PATH: "true"

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

prometheus:
  enabled: true
  forceNamespace: monitoring

  prometheusSpec:
    additionalScrapeConfigs:
      - job_name: argocd
        metrics_path: /metrics
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: argocd
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: argocd-.*-metrics

    resources:
      requests:
        cpu: 200m
        memory: 384Mi
      limits:
        cpu: 500m
        memory: 640Mi

    configmapReload:
      prometheus:
        enabled: false
      alertmanager:
        enabled: false

  alertmanager:
    persistentVolume:
      enabled: true
      accessModes:
        - ReadWriteMany
      size: 5Gi

fluent-bit:
  enabled: false

logstash:
  enabled: false

filebeat:
  enabled: false
