loki:
  enabled: true
  isDefault: true
  persistence:
    enabled: true
    existingClaim:
  securityContext:
    runAsUser: 10001
    runAsGroup: 10001

promtail:
  enabled: true

grafana:
  enabled: true
  namespaceOverride: grafana
  admin:
    existingSecret: "grafana-admin"
    userKey: admin-user
    passwordKey: admin-password

  ingress:
    enabled: true
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/router.entrypoints: web
    hosts:
      - grafana.monitoring.example.com
    paths:
      - path: /
        pathType: Prefix

  persistence:
    enabled: true
    existingClaim: grafana-pvc
    size: 5Gi
    accessModes:
      - ReadWriteOnce

  sidecar:
    datasources:
      enabled: true
    dashboards:
      enabled: true

  additionalDataSources:
    - name: Prometheus
      type: prometheus
      url: http://loki-stack-prometheus-server.monitoring.svc.cluster.local:80
      access: proxy
      isDefault: false
    - name: Loki
      type: loki
      url: http://loki-stack.monitoring.svc.cluster.local:3100
      access: proxy
      isDefault: true

  image:
    tag: "10.0.2"

  env:
    GF_INSTALL_PLUGINS: "grafana-piechart-panel"

prometheus:
  enabled: true
  forceNamespace: prometheus
  prometheusSpec:
    resources:
      limits:
        cpu: 800m
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 512Mi
    configmapReload:
      prometheus:
        enabled: false
      alertmanager:
        enabled: false
  alertmanager:
    persistentVolume:
      enabled: true
      existingClaim: prometheus-alertmanager
      accessModes:
        - ReadWriteMany

fluent-bit:
  enabled: false

logstash:
  enabled: false

filebeat:
  enabled: false