ingress:
  enabled: true
  ingressClassName: nginx  
  annotations:
    nginx.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - grafana.monitoring.example.com
  paths:
    - /
    
additionalDataSources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090
    access: proxy
    isDefault: true
