grafana:
  enabled: true

  ingress:
    enabled: true
    ingressClassName: nginx  
    annotations:
      nginx.ingress.kubernetes.io/router.entrypoints: web
    hosts:
      - grafana.monitoring.example.com
    paths:
      - /

  adminPassword: admin

  persistence:
    enabled: true
    size: 5Gi

alertmanager:
  enabled: false

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorNamespaceSelector:
      any: true
    retention: 12h
    resources:
      requests:
        cpu: 200m
        memory: 500Mi