prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorNamespaceSelector:
      any: true
    retention: 12h
    resources:
      requests:
        cpu: 200m
        memory: 500Mi