prometheus:
  enabled: true
  isDefault: false
  url: http://loki-stack-prometheus-server.monitoring.svc.cluster.local:80

grafana:
  enabled: true
  
  admin:
    existingSecret: "grafana-admin"
    userKey: admin-user
    passwordKey: admin-password
  
  service:
    type: ClusterIP
    port: 80
    targetPort: 3000
  
  ingress:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web
      traefik.ingress.kubernetes.io/headers.customrequestheaders.X-Forwarded-Proto: "http"
      traefik.ingress.kubernetes.io/headers.customrequestheaders.X-Forwarded-Host: "grafana.monitoring.example.com"
      traefik.ingress.kubernetes.io/headers.customrequestheaders.X-Forwarded-Port: "80"
      traefik.ingress.kubernetes.io/headers.customrequestheaders.X-Forwarded-For: "$proxy_add_x_forwarded_for"
      traefik.ingress.kubernetes.io/headers.customrequestheaders.X-Real-IP: "$remote_addr"
    hosts:
      - grafana.monitoring.example.com
    paths:
      - /
  
  persistence:
    enabled: true
    size: 5Gi
    accessModes:
      - ReadWriteOnce
  
  additionalDataSources:
    - name: Prometheus
      type: prometheus
      url: http://loki-stack-prometheus-server:80
      access: proxy
      isDefault: false
    - name: Loki
      type: loki
      url: http://loki-stack:3100
      access: proxy
      isDefault: true
  
  sidecar:
    datasources:
      enabled: true
    dashboards:
      enabled: true
  
  image:
    tag: "10.0.2"
  
  env:
    GF_INSTALL_PLUGINS: "grafana-piechart-panel"