replicaCount: 1

keycloak:
  username: admin
  password: adminPass

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
  rules:
    - host: keycloak.213.171.26.177.nip.io
      paths:
        - path: /
          pathType: Prefix

postgresql:
  enabled: false
