replicas: 1

image:
  repository: quay.io/keycloak/keycloak
  tag: "26.5.0"
  pullPolicy: IfNotPresent

command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
  - "--http-port=8080"
  - "--hostname-strict=false"
  - "--http-enabled=true" 
  - "--proxy-headers=xforwarded"
extraEnv: |
  - name: KC_BOOTSTRAP_ADMIN_USERNAME
    value: admin
  - name: KC_BOOTSTRAP_ADMIN_PASSWORD
    value: VerySecret123
  - name: JAVA_OPTS_APPEND
    value: "-Xms256m -Xmx768m"

hostname: keycloak-taiga-team2.dedyn.io

proxy:
  enabled: true
  mode: edge

http:
  relativePath: "/auth"
  internalPort: 8080
  internalScheme: HTTPS

service:
  type: ClusterIP
  httpPort: 8080
  httpsPort: 8443

ingress:
  enabled: true
  ingressClassName: nginx

  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Port $server_port;

  rules:
    - host: keycloak-taiga-team2.dedyn.io
      paths:
        - path: /
          pathType: Prefix

  tls:
    - hosts:
        - keycloak-taiga-team2.dedyn.io
      secretName: keycloak-tls

livenessProbe: |
  httpGet:
    path: /auth/
    port: http
  initialDelaySeconds: 30
  timeoutSeconds: 5

readinessProbe: |
  httpGet:
    path: /auth/realms/master
    port: http
  initialDelaySeconds: 30
  timeoutSeconds: 5

startupProbe: |
  httpGet:
    path: /auth/
    port: http
  initialDelaySeconds: 30
  timeoutSeconds: 5
  failureThreshold: 60
  periodSeconds: 10

postgresql:
  enabled: true
  postgresqlUsername: keycloak
  postgresqlPassword: keycloak
  postgresqlDatabase: keycloak
  persistence:
    enabled: true
    size: 1Gi
    storageClass: standard

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 400m
    memory: 1Gi
