replicaCount: 1

command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
  - "--http-port=8080"
  - "--hostname-strict=false"
  - "--proxy-address-forwarding"

extraEnv: |
  - name: KEYCLOAK_ADMIN
    value: admin
  - name: KEYCLOAK_ADMIN_PASSWORD
    value: VerySecret123
  - name: JAVA_OPTS_APPEND
    value: "-Xms256m -Xmx768m"

hostname: keycloak-taiga-team2.dedyn.io
hostname-strict: true
http-port: 8080
https-port: 443

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 400m
    memory: 1Gi

service:
  type: ClusterIP
  port: 8080

postgresql:
  enabled: false

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Forwarded-Proto $scheme;
  rules:
    - host: keycloak-taiga-team2.dedyn.io
      paths:
        - path: /
          pathType: Prefix
  console:
    enabled: false
  tls:
    - secretName: keycloak-tls
      hosts:
        - keycloak-taiga-team2.dedyn.io

startupProbe:
  httpGet:
    path: /auth/health
    port: 8080
    scheme: HTTP
  failureThreshold: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /auth/health
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 10

livenessProbe:
  httpGet:
    path: /auth/health
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 30
  periodSeconds: 10

extraArgs:
  - start
  - "--proxy-address-forwarding"
